@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '~@fortawesome/fontawesome-free/css/all.css';

.owl-prev {
    left: 0 !important;
    position: absolute !important;   
    margin-left:20px !important;
    top: 50% !important;
    &:focus{
       outline: 0;
    }

    i{
        font-size: 30px !important; 
    }
}

.owl-next {
    position: absolute !important;
    right: 0 !important;
    top: 50% !important;
    margin-right: 20px !important;

    &:focus{
        outline: 0;
     }
     
    i{
        font-size: 30px !important; 
    }
}